{% extends 'base.html' %}
{% block title %}Resultado{% endblock %}
{% block content %}
  <h2 class="main__title">Tu consumo estimado:</h2>
  <div class="main__rez">
    {% if result <= 150 %}
      <img src="{{ url_for('static', filename='img/planet_good.svg') }}" alt="bueno" class="rez__img">
      <p>Su resultado: {{ result }} kWh. ¡Excelente eficiencia!</p>
    {% elif result < 300 %}
      <img src="{{ url_for('static', filename='img/planet_medium.svg') }}" alt="medio" class="rez__img">
      <p>Su resultado: {{ result }} kWh. Eficiencia media.</p>
    {% else %}
      <img src="{{ url_for('static', filename='img/planet_bad.svg') }}" alt="bajo" class="rez__img">
      <p>Su resultado: {{ result }} kWh. ¡Necesita mejorar!</p>
    {% endif %}
  </div>
  <p><a href="{{ url_for('index') }}">Volver al inicio</a></p>
{% endblock %}