% extends 'base.html' %}
{% block title %}Lámparas{% endblock %}
{% block content %}
  <h2 class="main__title">¿Cuántas lámparas hay en su hogar?</h2>
  <ul class="list">

    <li class="list__item">
      <a href="{{ url_for('select_devices', size=size, lights=3) }}">
        <img src="{{ url_for('static', filename='img/light.svg') }}" alt="2-4 lámparas" class="item__img">
        <span>2–4 lámparas</span>
      </a>
    </li>

    <li class="list__item">
      <a href="{{ url_for('select_devices', size=size, lights=5) }}">
        <img src="{{ url_for('static', filename='img/light.svg') }}" alt="4-6 lámparas" class="item__img">
        <span>4–6 lámparas</span>
      </a>
    </li>

    <li class="list__item">
      <a href="{{ url_for('select_devices', size=size, lights=8) }}">
        <img src="{{ url_for('static', filename='img/light.svg') }}" alt="8+ lámparas" class="item__img">
        <span>8+ lámparas</span>
      </a>
    </li>

    <li class="list__item">
      <a href="javascript:void(0)">
        <img src="{{ url_for('static', filename='img/light.svg') }}" alt="ecologico" class="item__img">
        <span>¡Nuestro montaje ecológico!</span>
      </a>
    </li>

  </ul>
{% endblock %}
